{{ define "partials/list-content" }}
    {{ .Content }}
    <table>
        <thead class="whitespace-nowrap">
            <tr>
                <th>编号</th>
                <th>应用名称</th>
                <th>版本</th>
                <th>兼容性</th>
                <th>商店页面</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Data.Pages }}
                <tr>
                    <td>{{ .Params.id }}</td>
                    <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
                    <td>{{ .Params.version }}</td>
                    <td>{{ partial "apputils/compatibility" . }}</td>
                    <td><a href="{{ partial "apputils/downloadurl" . }}" target="_blank" rel="noopener">查看</a></td>
                </tr>
            {{ end }}
        </tbody>
    </table>
{{ end }}
{{ define "main" }}
    {{ partial "docs-layout.html" (dict "doc_content" (partial "list-content" .) "page" .)  }}
{{ end }}
