{{ define "partials/callout-raw" }}
    {{- printf `{{< callout type="%s" %s>}}`
        (cond (eq .type "success") "info" (
         cond (eq .type "missing") "info"
         .type
        ))
        (cond (eq .type "success") `emoji="✅"` "")
    | safeHTML -}}
        {{ .content}}
    {{- `{{< /callout >}}` | safeHTML -}}
{{ end }}
{{ $out := partial "callout-raw" . | (index site.AllPages 0).RenderString }}
{{ cond (eq .type "success") (replace $out "blue" "green") (
   cond (eq .type "missing") (replace $out "blue" "gray")
   $out
) | safeHTML }}
